*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
  
}
.perent{
     height: 100vh;
    display: flex;
    /* background-color: brown; */
    justify-content: center;

}
.first{
    /* background-color: blueviolet; */
    width:50%;
    /* align-items: center; */
}
.first img{
     width: 100%;
     
     height: 100%;
}
.second{
    background-color: rgb(122, 139, 139);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 8px 8px 8px rgba(4, 2, 2, 0.3); */
   flex-direction: column;
}
.main{
    width: 100%;
 display: flex;
 align-items: center;
 flex-direction: column;
 color:black;
 /* box-shadow: 8px 8px 8px rgba(4, 2, 2, 0.3); */

}
.main h1 {
 /* width: 100%;
 display: flex;
 align-items: center;
 flex-direction: column;
 color: crimson; */
 margin-bottom: 20px;
 border-bottom: 3px solid;
 
}
form{
 height: 70vh;
 justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.btn{
    color: rgb(238, 238, 243);
    background-color: rgb(78, 105, 194);
    padding: 10px;
    border-radius:5px;
    border: 1px solid white;
   box-shadow: 8px 8px 8px rgba(4, 2, 2, 0.3);

}
.btn:hover{
    background-color:black ;
    transition: background-color 0.5s ease;
}
.btn-section{
    justify-content: center;
    display: flex;
}
input{
    border-radius:5px;
    border: none;
    padding:  5px 5px;
    box-shadow: 8px 8px 8px rgba(4, 2, 2, 0.3);

}   
input:hover{
    background-color: rgb(166, 159, 151);
    transition: background-color 0.4s ease;
}

@media (max-width:750px) {  
    .main{
        width: 95%;
    }
}
@media(max-width:565px)
{
    .first{
 display: none;
    }
    .second{
        width: 100%;
        flex-direction: column;
    }
    .second h1{
        font-size: 25px;
    }
}


/* @media (max-width:650px) {

    .second{
        flex-direction: column;
    }
} */

 
